<!DOCTYPE HTML>
<html>
<head>

<title>Contact</title>
<link rel="stylesheet" href="/css/contact.css">
<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ROCHE Lucas</a>
            

            <div class="collapse navbar-collapse" id="navbarColor03">
           
            
                 <a class="nav-link" href="./blog">Accueil
                </a>
                    <a class="nav-link" href="./portfolio">Portfolio</a>
                        <span class="visually-hidden">(current)</span>

                
                    <a class="nav-link" href="./cv">CV</a>
                        <span class="visually-hidden">(current)</span>
                
                    <a class="nav-link" href="./loisirs">Loisirs</a>
                        <span class="visually-hidden">(current)</span>
                
                    <a class="nav-link active" href="./contact">Contact</a>
                        <span class="visually-hidden">(current)</span>
                
            </ul>
            </div>
        </div>
    </nav>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    

    <div class="bg"></div>
    <div class="bg2"></div>
    
    <div class="container">
      <div id="left">
        <h1>Page de Contact</h1>
        <p>Contactez moi pour travailler ensemble</p>
      </div>
      <div id="right">
        <ul>
          <li> 
            <img src="" alt="">
            <span>
              <strong>📧Mon adresse mail📧</strong>
              <p>lucas.roche2@etu.univ-st-etienne</p>
            </span>
          </li>
          <li> 
            <img src="" alt="">
            <span>
              <strong>📞Mon numéro📞</strong>
              <p>07 68 78 27 15</p>
            </span>
          </li>
        <li> 
            <img src="" alt="">
            <span>
                <a href="https://github.com/RocheLuc">
              <strong>Mon github</strong>
              <p>Clique ici pour aller voir mes projets</p>
            </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <p>&nbsp;</p>
    <form>
        <fieldset>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-5 mb-md-0 " rows="3">Ton adresse mail</label>
            <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exemple@exemple.fr">
            <small id="emailHelp" class="form-text text-muted">Ne partage jamais ton adresse e-mail avec un personne que tu ne connais pas.</small>
          </div>
          <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Ecris-moi ici</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="formFile" class="form-label mt-4">Envoie moi ton projet</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <p>&nbsp;</p>
          <center><span title="Clique ici pour envoyer ton message avec ton projet pour une collaboration"><button type="submit" class="btn btn-success">Envoyer</button></center></span>
        </fieldset>
        <p>&nbsp;</p>
    </form>

</body>
</html>