<!DOCTYPE html>
<html>
<head>
<title>CV</title>

<link rel="stylesheet" href="/css/style.css">
<link rel= "stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
<link rel="icon" href="/img/icon.jfif">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ROCHE Lucas</a>
            

            <div class="collapse navbar-collapse" id="navbarColor03">
             <ul class="navbar-nav me-auto">
                <li class="nav-item">
                 <a class="nav-link " href="./blog">Accueil
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./portfolio">Portfolio</a>
                        <span class="visually-hidden">(current)</span>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./cv">CV</a>
                        <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./loisirs">Loisirs</a>
                        <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact">Contact</a>
                        <span class="visually-hidden">(current)</span>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <h1>MON CV</h1>

    <center><img width="40%"; class="CV" src="/img/CV.jpg"></center>
    <br>

    <span title="Telecharger mon CV en format PDF"><center><a href="/pdf/cv.pdf" download = "CV_ROCHE_Lucas.pdf"><button type="button" class="btn btn-outline-success">Telecharger Mon Cv</button></center></span></a>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
<p>&nbsp;</p>


<footer>
<center><p>Ce site est copyright </p>
<p>ROCHE Lucas ©</p> <center>
</body>
</html>