<!DOCTYPE html>
<html>
<head>
<title>Loisirs</title>

<link rel="stylesheet" href="/css/style.css">
<link rel= "stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
<link rel="icon" href="/img/icon.jfif">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ROCHE Lucas</a>
            

            <div class="collapse navbar-collapse" id="navbarColor03">
             <ul class="navbar-nav me-auto">
                <li class="nav-item">
                 <a class="nav-link " href="./blog">Accueil
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./portfolio">Portfolio</a>
                        <span class="visually-hidden">(current)</span>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./cv">CV</a>
                        <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./loisirs">Loisirs</a>
                        <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact">Contact</a>
                        <span class="visually-hidden">(current)</span>
                </li>
            </ul>
            </div>
        </div>
    </nav>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Mes Passions </h1>
<br>
<br>
<br>
<center><h4>Les Crypto-monnaies </h4></center>
<div>
    <marquee direction="up"> 
        <img class="diapo1" src="/img/diapo1.jpg">
        <img class="diapo1" src="/img/diapo1b.jpg">
        <img class="diapo1" src="/img/diapo1c.jpg">
    </marquee>
</div>

<center><h4>Les Montres</h4></center>
<div>
    <marquee direction="up"> 
        <img class="diapo2" src="/img/diapo2.jpg">
        <img class="diapo2" src="/img/diapo2b.jpg">
        <img class="diapo2" src="/img/diapo2c.jpg">
    </marquee>
</div>

<center><h4>L'automobile</h4></center>
<div>
    <marquee direction="up"> 
        <img class="diapo3" src="/img/diapo3.jpg">
        <img class="diapo3" src="/img/diapo3b.jpg">
        <img class="diapo3" src="/img/diapo3c.jpg">
    </marquee>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>


<footer>
<center><p>Ce site est copyright </p>
<p>ROCHE Lucas ©</p> <center>

</body>
</html>