<!DOCTYPE html>
<html>
<head>
<title>Portfolio</title>

<link rel="stylesheet" href="/css/style.css">
<link rel= "stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
<link rel="icon" href="/img/icon.jfif">
</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ROCHE Lucas</a>
            

            <div class="collapse navbar-collapse" id="navbarColor03">
             <ul class="navbar-nav me-auto">
                <li class="nav-item">
                 <a class="nav-link " href="./blog">Accueil
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./portfolio">Portfolio</a>
                        <span class="visually-hidden">(current)</span>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./cv">CV</a>
                        <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./loisirs">Loisirs</a>
                        <span class="visually-hidden">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact">Contact</a>
                        <span class="visually-hidden">(current)</span>
                </li>
            </ul>
            </div>
        </div>
    </nav>

<p>&nbsp;</p>
<p>&nbsp;</p>

    <h1>Présentation de mon Portfolio</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>
    <u><h2>Première apprentissage critique :</h2></u>
<p>&nbsp;</p>
<p>&nbsp;</p>
    <center><h3>S’intégrer dans un environnement propice au </h3></center>
    <center><h3>développement et au travail collaboratif</h3></center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<u><h3>Estimation de mon niveau :</h3></u>
<p>&nbsp;</p>

    <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h3>Pièces Justificatives :</h3></u>
<p>&nbsp;</p>

<center><a href="https://drive.google.com/file/d/1Ls-9Gpm6gsBTAssh66ux3omqfa3CGT2Y/view" ><h3>Ceci est une pièce justificative</h3></a></center>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h3>Commentaire :</h3></u>
<p>&nbsp;</p>
<p>&nbsp;</p>
<center><p>Le travail qui a été effectué dans cette compétence a été réparti de façon équitable.</p> 
<p>Si nous étions face à un soucis que auquel nous ne trouvons pas de solution nous nous aidons entre nous. </p></center>
<p>&nbsp;</p>
<p>&nbsp;</p>


<u><h2>Deuxième apprentissage critique :</h2></u>
<p>&nbsp;</p>
<p>&nbsp;</p>

<center><h3>Utiliser les bonnes pratiques et </h3>
<h3>les recommandations de cybersécurité</h3></center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<u><h3>Estimation de mon niveau :</h3></u>
<p>&nbsp;</p>
    <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 87%;"></div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h3>Pièces Justificatives</h3></u>

<p>&nbsp;</p>

<center><a href="https://drive.google.com/file/d/1iwyNK_ApNmYYn5NxZoCJROlC_MREx7Ij/view?usp=sharing"><h3>Ceci est une pièce justificative</h3></a></center>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h3>Commentaire :</h3></u>
<p>&nbsp;</p>
<p>&nbsp;</p>
<center><p>Nous devions avoir un score minimum de 80% sur chaque niveau, se que j'ai réussis à optenir</p>
<p>même plus sur chaque niveau comme on peut le voir avec une moyenne de 87.</p>
<p>Avant de faire cette formation sur le MOOC de l'ANSII, </p>
<p>j'étais déjà un minimum sensibilisé sur ce sujet </p>
<p>mais le fais d'avoir insister dessus m'a permis d'approfondir mes connaissances sur la cyber-criminalité.</p></center>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h2>Troisième apprentissage critique :</h2></u>
<p>&nbsp;</p>
<p>&nbsp;</p>


<center><h3>Utiliser les bonnes pratiques et </h3>
<h3>les recommandations de cybersécurité</h3></center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<u><h3>Estimation de mon niveau :</h3></u>
<p>&nbsp;</p>
    <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h3>Pièces Justificatives</h3></u>


<center><a href="https://drive.google.com/file/d/1VQ-kTZ8cM6OFVYw2iPMit8fWQV_-4GnH/view?usp=sharing"><h3>Ceci est une pièce justificative</h3></a></center>
<center><a href="https://docs.google.com/document/d/1E7tLV4rd6GVOyU5nh1sYtozp_Mban-4GUv2NgVNFYt4/edit?usp=sharing"><h3>Ceci est une pièce justificative</h3></a></center>

<p>&nbsp;</p>
<p>&nbsp;</p>

<u><h3>Commentaire :</h3></u>
<p>&nbsp;</p>
<p>&nbsp;</p>

<center><p>Nous devions dans un premier temps tester des câbles et vérifier si il n'y avais pas d'anomalie à detecter, </p>
<p>dans une deuxième partie nous avions à souder de la fibre optique ce que nous avons réussi à faire.</p>
<p>Dans ce TP j'ai réussis à faire tout se qui étais demandé sans vraiment de difficultés avec le matériels ou même avec les consignes de se que nous devions faire</p>
<p>Si je devais refaire le TP aujourd'hui je n'aurai qu'à relir mon compte rendue pour pouvoir le refaire correctement.</p></center>

<p>&nbsp;</p>
<p>&nbsp;</p>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	
<script src="/js/javascript.js"></script>

<input type="button" value="remonter" id="monBouton" />
-->
<footer>
<center><p>Ce site est copyright </p>
<p>ROCHE Lucas ©</p> <center>


</body>
</html>


